html {
  font-size: 16px;
}
@media (min-width: 600px) {
  html {
    font-size: calc(0.5vw + 13px);
  }
}
.button {
  display: inline-flex;
  border: none;
  text-align: center;
  text-decoration: none;
  padding: 0.5625rem 1rem;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  position: relative;
}
.button > * {
  position: relative;
  z-index: 2;
}
.button::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  border: 1px solid transparent;
  border-radius: 4px;
  z-index: 1;
}
.button::after {
  content: '';
  position: absolute;
  left: 1px;
  top: 1px;
  bottom: 1px;
  right: 1px;
  background-repeat: no-repeat;
  border-radius: 3px;
  z-index: 1;
}
.button.xs {
  padding: 0.28125rem 0.5rem;
  font-size: 0.8rem;
}
.button.s {
  padding: 0.421875rem 0.75rem;
  font-size: 0.875rem;
}
.button.l {
  padding: 0.703125rem 1.25rem;
  font-size: 1.25rem;
}
.button.xl {
  padding: 0.84375rem 1.5rem;
  font-size: 1.5rem;
}
.button.primary {
  color: white;
}
.button.primary::after {
  background-image: linear-gradient(to bottom, #f30000, #c70000);
}
.button.primary::before {
  border-color: #ff0c0c;
}
.button.primary:hover::before {
  border-color: #ff2020;
}
.button.primary:hover::after {
  background-image: linear-gradient(to bottom, #ff3d3d, #db0000);
}
.button.primary:active::before {
  border-color: #bc0000;
}
.button.primary:active::after {
  background-image: linear-gradient(to bottom, #cf0000, #bc0000);
}
.button.secondary {
  color: black;
}
.button.secondary::after {
  background-image: linear-gradient(to bottom, #00f300, #00c700);
}
.button.secondary::before {
  border-color: #0cff0c;
}
.button.secondary:hover::before {
  border-color: #20ff20;
}
.button.secondary:hover::after {
  background-image: linear-gradient(to bottom, #3dff3d, #00db00);
}
.button.secondary:active::before {
  border-color: #00bc00;
}
.button.secondary:active::after {
  background-image: linear-gradient(to bottom, #00cf00, #00bc00);
}
.button.tertiary {
  color: white;
}
.button.tertiary::after {
  background-image: linear-gradient(to bottom, #0000f3, #0000c7);
}
.button.tertiary::before {
  border-color: #0c0cff;
}
.button.tertiary:hover::before {
  border-color: #2020ff;
}
.button.tertiary:hover::after {
  background-image: linear-gradient(to bottom, #3d3dff, #0000db);
}
.button.tertiary:active::before {
  border-color: #0000bc;
}
.button.tertiary:active::after {
  background-image: linear-gradient(to bottom, #0000cf, #0000bc);
}
