@granola: "../lib";
@import "@{granola}/granola";

@import "@{granola}/palette/pleasant";
@import "@{granola}/ui/basic";

// Below: you don't have to output elements, 
// you can just use Granola mixins to sprinkle styles throughout your project.
// This would give you a set of "starter classes", depending on your .start() settings
@import "@{granola}/elements/simple"; 

// Variable overrides, done LIKE A BOSS
#granola {
    // Override simple variables
    .vars() {
        @base-color: #aaaaaa;
        @border-scale: 5.5;
        @border-base: 3px;
    }
    .nav() {
        // Override ruleset definitions
        @list: {
            change: all;
            properties: & values;
        };
    }
    .nav(list) {
        or: add-one;
    }
}

// Some different ways to start your project
// #granola.start(); // all normal parameters
#granola.start(@normalize: false, @all: false, @navigation: true); // only nav

//.test {
//    color: @base-color; // make sure variables aren't leaking
//}


