@granola: "../lib";
@import "@{granola}/granola";
@import "@{granola}/theme/basic";
@import "@{granola}/selectors/default";
//@import "@{granola}/elements/default";
//@import "@{granola}/ui/base";

#g {
  .config() {
    @normalize: false;
  }
  .colors() {
    @primary: black;
  }
}

#g.make();

// Below: you don't have to output elements, 
// you can just use Granola mixins to sprinkle styles throughout your project.
// This would give you a set of "starter classes", depending on your .make() settings


// Variable overrides, done LIKE A BOSS
// #granola { 
//     // Override simple variables
//     #vars {
//         @colors__baseColor: #aaaaaa;
//         @borders__scale: 5.5;
//         @borders__base: 3px; 
//     }
//     #ui {
// 	    .nav {
// 	        // Override ruleset definitions
// 	        @nav-list: { 
// 	            border: all;
// 	            properties: & values; 
// 	        }; 
// 	    }
// 	    .nav(nav-list) {
// 	        or: add-one; 
// 	    }
//     }
// }

// Some different ways to start your project
//#granola.make(@defaults: false); // all normal parameters
// #granola.make(@defaults: false, @all: false, @nav: true); // only nav


