html {
  font-size: 16px;
}
@media (min-width: 600px) {
  html {
    font-size: calc(0.5vw + 13px);
  }
}
.button {
  display: inline-flex;
  border: none;
  text-align: center;
  text-decoration: none;
  padding: 0.5625rem 1rem;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  position: relative;
}
.button > * {
  position: relative;
  z-index: 2;
}
.button::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  border: 1px solid transparent;
  border-radius: 4px;
  z-index: 1;
}
.button::after {
  content: '';
  position: absolute;
  left: 1px;
  top: 1px;
  bottom: 1px;
  right: 1px;
  background-repeat: no-repeat;
  border-radius: 3px;
  z-index: 1;
}
.button.xs {
  padding: 0.28125rem 0.5rem;
  font-size: 0.8rem;
}
.button.s {
  padding: 0.421875rem 0.75rem;
  font-size: 0.875rem;
}
.button.l {
  padding: 0.703125rem 1.25rem;
  font-size: 1.25rem;
}
.button.xl {
  padding: 0.84375rem 1.5rem;
  font-size: 1.5rem;
}
.button.primary {
  color: white;
}
.button.primary::after {
  background-image: linear-gradient(to bottom, #1c1717, #000000);
}
.button.primary::before {
  border-color: #3d2929;
}
.button.primary:hover::before {
  border-color: #1a1a1a;
}
.button.primary:hover::after {
  background-image: linear-gradient(to bottom, #382e2e, #1c1717);
}
.button.primary:active::before {
  border-color: #000000;
}
.button.primary:active::after {
  background-image: linear-gradient(to bottom, #1a1a1a, #000000);
}
.button.secondary {
  color: black;
}
.button.secondary::after {
  background-image: linear-gradient(to bottom, #11ff11, #00aa00);
}
.button.secondary::before {
  border-color: #44ff44;
}
.button.secondary:hover::before {
  border-color: #11ff11;
}
.button.secondary:hover::after {
  background-image: linear-gradient(to bottom, #44ff44, #00dd00);
}
.button.secondary:active::before {
  border-color: #00c400;
}
.button.secondary:active::after {
  background-image: linear-gradient(to bottom, #00f700, #00c400);
}
.button.tertiary {
  color: white;
}
.button.tertiary::after {
  background-image: linear-gradient(to bottom, #1111ff, #0000aa);
}
.button.tertiary::before {
  border-color: #4444ff;
}
.button.tertiary:hover::before {
  border-color: #1111ff;
}
.button.tertiary:hover::after {
  background-image: linear-gradient(to bottom, #4444ff, #0000dd);
}
.button.tertiary:active::before {
  border-color: #0000c4;
}
.button.tertiary:active::after {
  background-image: linear-gradient(to bottom, #0000f7, #0000c4);
}
