/* CSS crunched with Crunch - http://crunchapp.net/ */
.test {
  transform: scale(1.2), rotate(45deg);
}
.css-defined-column {
  width: 48%;
}
@media (max-width: 768px) {
  .css-defined-column {
    width: 36%;
  }
}
@media (max-width: 480px) {
  .css-defined-column {
    width: 60%;
  }
}
